<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Editar Curso </title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>

<body>

	<div class="container">
		<h1>Editar Curso </h1>
		<form th:object ="${cursoDTO}"  th:action="@{/cursos/{cursoId}(cursoId = ${cursoId})}" method="POST" >
			<div class="form-group">
				<label for="name">Titulo</label>
				<input type="text" class="form-control" th:field="*{tituloCurso}">
			</div>
			<div class="form-group">
				<label for="exampleFormControlSelect1">Carga Horária</label>
				<select class="form-control" id="exampleFormControlSelect1" th:field="*{cargaHoraria}">
					<option th:each="status : ${cargaHoraria}" th:value="${status}" th:text="${status}"></option>
				</select>
			</div>
			<div class="form-group">
				<label for="salario">Data Inicio</label>
				<input  type="text" class="form-control"  th:field="*{dataInicio}">
			</div>
			<br />
			<button type="submit" class="btn btn-primary">Adicionar</button>
			<a href="/cursos" class="btn btn-secundary"> Voltar</a>
		</form>

	</div>



	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
		crossorigin="anonymous"></script>
</body>

</html>